extends layout
block content
        ul.list-group.list-group-flush
            li.list-group-item.list-group-item-action Name: #{user.name}
            li.list-group-item.list-group-item-action Email: #{user.email} 
                a(href='edit_email') Edit email
            li.list-group-item.list-group-item-action.menu Borrow books
                ul.list-group.list-group-flush
                    each bookInstance in bookInstances
                        li.list-group-item.list-group-item-action
                            a(href=bookInstance.url) #{bookInstance.name}
                    else
                        li.list-group-item.list-group-item-action.disabled None
